<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Skylark</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Insurance
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/insurances">View</a>
                    <a class="dropdown-item" href="/showNewInsuranceForm">Create</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTcktMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mutual Fund
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/mutualfunds">View</a>
                    <a class="dropdown-item" href="/mutualfunds/new">Create</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarRelMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fixed Deposits
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarRelMenuLink">
                    <a class="dropdown-item" href="/deposits">View</a>
                    <a class="dropdown-item" href="/deposits/new">Create</a>
                </div>
            </li>
        </ul>
    </div>
</nav>